/* ________________________________
BASE
________________________________ */

:root {
 --borderCrimson: 2px crimson solid;
 --borderBlack: 2px black solid;
 --borderForestGreen: 2px forestgreen solid;
 --borderCyan: 2px cyan solid;
 --borderDarkBlue: 2px darkblue solid;
 --borderBlueViolet: 2px blueviolet solid;
 --borderCoral: 2px coral solid;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
 color: black;
 font-family: 'Libre Baskerville', serif;
 font-size: 100%;
 line-height: 1.9rem;
}

h1 {
 font-size: 2rem;
}

h2 {
 font-size: 1.8rem;
}

p {
 font-size: 1.3rem;
}

ul {
 font-size: 1.1rem;
}

/* ________________________________ 
CONTAINER LEFT FIXED BAR
________________________________ */

#containerLeftFixedBar {
 /* border: var(--borderCrimson); */
 width: 310px;
 position: fixed;
 height: 100%;
 z-index: 1;
 top: 0;
 left: 0;
 overflow-x: hidden;
 overflow-y: scroll;
 scrollbar-color: rgba(150, 135, 143, 0.4) rgba(140, 126, 140, 0.1);
 /* -ms-overflow-style: none; */
 scrollbar-width: thin;
}

/* ________________________________ 
TITLE H1
________________________________ */

#titleH1 {
 /* border: var(--borderCoral); */
 text-align: center;
 position: sticky;
 top: 0;
 background-color: rgba(255, 255, 255, 1);
 margin: 0 auto 0.5rem auto;
 /* width:100%; */
 /* padding: 0 2.9rem 0 0.9rem; */
}

/* ________________________________
 CONTAINER OF ITEMS LEFT BAR
________________________________  */

/* ________________________________ 
ITEMS OF FIXED LEFT BAR
________________________________  */

.itemsOfFixedSideBar {
 /* border: var(--borderBlack); */
 width: 100%;
 display: flex;
}

.itemsOfFixedSideBar:hover {
 background-color: antiquewhite;
}

.itemsOfFixedSideBar a {
 /* border: var(--borderBlack); */
 /* border: 1px solid grey; */
 border-top: 2px solid grey;
 width: 100%;
 padding: 1.2rem 0 1.2rem 1.5rem;
}

/* ________________________________ 
CONTAINER OF ALL SECTIONS RIGHT
________________________________ */

#containerOfAllSectionsRight {
 /* border: var(--borderBlack); */
 margin-left: 310px;
 margin-bottom: 75px;
 z-index: 10;
 position: relative;
 /* background-color: antiquewhite; */
 background-color: rgb(255, 255, 255);
 overflow-x: hidden;
}

/* ________________________________ 
INTRODUCTION
________________________________ */

.containerOfContentH2 {
 /* border: var(--borderCoral); */
 margin: 0 1.6rem 1.2rem;
 /* height: 60vw; */
}

.titleH2 {
 /* border:var(--borderBlack); */
 height: 60px;
 display: flex;
 align-items: center;
}

.paragraphOfH2 {
 /* border: var(--borderDarkBlue); */
 margin: 1.2rem 0 1rem 1.2rem;
}

.unorderListOfParagraphs {
 /* border: var(--borderForestGreen); */
 margin-left: 2.9rem;
}

.unorderListOfParagraphs li {
 list-style: disc;
 /* border: var(--borderBlueViolet); */
 margin-bottom: 1.2rem;
}

.unorderListOfParagraphs li:last-child {
 margin-bottom: 0;
}

/* ________________________________ 
WHAT YOU SHOULD ALREADY KNOW
________________________________ */

/* ________________________________ 
MAIN CONTAINER
________________________________ */

/* ________________________________ 
JAVASCRIPT AND JAVA
________________________________ */

/* ________________________________ 
HELLO WORLD
________________________________ */

.codeSection {
 background-color: #f7f7f7;
 margin: 1.9rem 0 1.9rem 1.9rem;
 padding: 0.8rem;
 border-radius: 6px;
}

/* ________________________________ 
VARIABLES
________________________________ */

/* ________________________________ 
DECLARING VARIABLES
________________________________ */

/* ________________________________ 
VARIABLE SCOPE
________________________________ */

/* ________________________________ 
GLOBAL VARIABLES
________________________________ */

/* ________________________________ 
CONSTANTS
________________________________ */

/* ________________________________ 
DATA TYPES
________________________________ */

.unorderListSecondLevel li {
 margin-left: 3.2rem;
 list-style: circle;
}

.unorderListSecondLevel li:last-child {
 margin-bottom: 1.2rem;
}

/* ________________________________ 
IF... ELSE STATEMENT
________________________________ */

code {
 display: flex;
 flex-flow: column wrap;
 word-break: break-all;
}

/* ________________________________ 
WHILE STATEMENT
________________________________ */

/* ________________________________ 
FUNCTION DECLARATIONS
________________________________ */

/* ________________________________ 
REFERENCE
________________________________ */

.linkOfParagraph {
 color: blue;
 border-bottom: 1px solid #000;
}

/* ________________________________ 
FOOTER
________________________________ */

#containerOfFooter {
 /* border: var(--borderBlueViolet); */
 margin-left: 310px;
 position: fixed;
 bottom: 0;
 display: flex;
 flex-flow: column wrap;
 text-align: center;
 width: calc(100% - 310px);
 z-index: 1;
}

#paragraphOfFooter, #adressFooter {
 font-family: monospace;
 font-size: 0.9rem;
 padding-right: 0.9rem;
}

.linkOnFooter {
 border-bottom: 1px solid #000;
 font-family: 0.5rem;
}

#paragraphOfFooter {
 border-top: 1px solid black;
}

/* ________________________________ 
MEDIA QUERIES
________________________________ */

@media only screen and (max-width: 815px) {
 #containerLeftFixedBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 310px;
  border-bottom: 3px solid grey;
 }
 #containerOfAllSectionsRight {
  border-top: 3px solid grey;
  margin: 310px 0 100px 0;
  /* margin-bottom: 175px; */
 }
 #containerOfFooter {
  margin: auto;
  width: 100%;
 }
}

@media only screen and (max-width: 452px) {
 #containerOfAllSectionsRight {
  margin-bottom: 160px;
 }
 @media only screen and (max-width: 315px) {
  .unorderListSecondLevel li {
   margin-left: 1rem;
  }
 }
}